@media (max-width: 1200px){
    .conteiner{
        max-width: 970px;
    }
    .navigation li{
        margin-right: 20px;
    }
    .content input{
        min-width: 22%;
    }
    .example{
        min-height: 275px;
    }
    .about img{
        max-width: 39%;
    }
    .read{
        top: 10px;
        padding-left: 40px;
    }
    .read button{
        top: 15px;
    }
    .basic{ 
        min-width: 65%;
    }
    .gold{
        min-width: 65%;
        margin-bottom: 30px;
    }
    .premium{
        min-width: 65%;
    }
    .point li:nth-child(odd):before{
        min-width: 300px;
    }
    .cont{
        top: 60px;
    }
    .steps img{
        max-width: 84%;
    }
    .mean:last-child{
        margin-bottom: 80px;
    }
}
@media (max-width: 992px){
    .conteiner{
        max-width: 750px;
    }
    .boxs{
        margin-top: 40px;
    }
    .info{
        top: 150px;
    }
    .about img{
        display: none;
    }
    .read{
        top: 30px;
        padding-left: 18%;
    }
    .subscribe input:first-child, .subscribe input:nth-child(2){
        min-width: 29%;
    }
    .logo{
        display: none;
    }
}
@media (max-width: 767px){
    .header{
        height: 500px;
    }
    .conteiner{
        max-width: none;
    }
    .laptop{
        display: none;
    }
    .content{
        min-height: 500px;
    }
    .email{
        flex-wrap: wrap;
    }
    .content input{
        min-width: 97%;
    }
    .request{
        min-width: 97%;
    }
    .box{
        flex-direction: column;
    }
    .boxs{
        flex-direction: column;
    }
    .box img{
        display: none;
    }
    .box-left{
        margin-right: 0;
    }
    .box-text{
        text-align: center;
    }
    .titles p:nth-child(2){
        text-align: center;
    }
    .service{
        min-height: 1350px;
    }
    .example{
        min-height: 400px;
    }
    .price p:first-child, .price p:nth-child(2){
        text-align: center;
    }
    .steps p:nth-child(2){
        text-align: center;
    }
    .steps img{
        display: none;
    }
    .step{
        flex-direction: column;
    }
    .step_num{
        margin-top: 20px;
    }
    .steps button{
        margin-top: 40px;
    }
    .people > p:nth-child(2){
        text-align: center;
    }
    .people > p:first-child{
        margin-top: 80px;
    }
    .review p:first-child::after, .review p:first-child::before{
        display: none;
    }
    .mean{
        flex-direction: column;
    }
    .map p:nth-child(2){
        text-align: center;
    }
    .subscribe input, .subscribe button{
        width: 97%;
        margin-top: 10px;
    }
    .map p:first-child{
        margin-top: 50px;
    }
    .link{
        margin-top: 0px;
    }
    .link li{
        margin-top: 10px;
    }
    .footer{
        text-align: center;
        margin-top: 20px;
    }

    
    #toggle {
    opacity: 0;
    }
    .main-nav{
        z-index: 1;
    }
    .burger {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    }
    .burger > span,
    .burger > span::before,
    .burger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    }
    .burger > span::before {
    content: '';
    top: -8px;
    }
    .burger > span::after {
    content: '';
    top: 8px;
    }
    .navigation {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    .navigation li {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .navigation li:hover {
        background-color: #CFD8DC;
    }
    #toggle:checked ~ .burger > span {
        transform: rotate(45deg);
    }
    #toggle:checked ~ .burger > span::before {
        top: 0;
        transform: rotate(0);
    }
    #toggle:checked ~ .burger > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #toggle:checked ~ .navigation {
        visibility: visible;
        left: 0;
    }
    .menu__btn > span,
    .burger > span::before,
    .burger > span::after {
        transition-duration: .25s;
    }
    .navigation {
        transition-duration: .25s;
    }
    .navigation li {
        transition-duration: .25s;
    }
}