* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.conteiner{
    margin: 0 auto;
}

.header{
    min-height: 93px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: content-box;
}
a{
    text-decoration: none;
    color: #868686;
}
.button{
    color: white;
    background: #ffbb42;
    border: 1px solid #ffbb42;
    min-height: 34px;
    min-width: 81px;
    border-radius: 3px;
}
.button:hover{
    color: #ffbb42;
    background:#fff;
    border: 1px solid #fff;
    transition: 0.3s ease;
}
.navigation li{
    margin-right: 44px;
}
/*header*/
.content{
    min-height: 308px;
    min-width: 100%;
    position: relative;
    top: 105px;
}
.text{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#boots{
    font-size: 35px;
    font-weight: bold;
}
#lorem{
    font-size: 16px;
    position: relative;
    top: 7px;
}
.content input{
    min-height: 46px;
    min-width: 282px;
}
.request{
    background: #ffbb42;
    border: 1px solid #ffbb42;
    color: #fff;
    min-width: 211px;
    min-height: 46px;
}
.request:hover{
    color: #ffbb42;
    background:#fff;
    border: 1px solid #fff;
    transition: 0.3s ease;
}
.form{
    background: #709dca;
    min-width: 100%;
}
.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    flex-wrap: nowrap;
}
.email input{
    margin: 5px;
    border: 1px solid #fff;
    outline: none; 
    font-size: 13px;
}
.email input:first-child{
    background-image: url('../image/name.png');   
    background-repeat: no-repeat; 
    background-position: 4px;        
    padding-left: 20px;
}
.email input:nth-child(2){
    background-image: url('../image/email.png');   
    background-repeat: no-repeat; 
    background-position: 4px;        
    padding-left: 24px;
}
.email input:nth-child(3){
    background-image: url('../image/phone.png');   
    background-repeat: no-repeat; 
    background-position: 4px;        
    padding-left: 20px;
}
/*main*/
.circle{
    min-width: 15px;
    min-height: 15px;
    border: #dedfe0 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}
.three{
    display: flex;
    flex-direction: row;
    margin-top: 22px;
}
.circle:hover{
    border: #1ca8dd 1px solid;
    transition: 0.3s ease;
}
.lapabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
}
.laptop{
    background: #709dca;
    max-width: 100%;
}
.lapabs img{
    height: auto;
    width: 100%;
    max-width: 648px;
}
/*laptop*/
.service{
    min-height: 924px;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    display: flex;
    flex-direction: row;
    max-width: 585px;
    min-height: 100px;
    margin-top: 12px;
    margin-bottom: 65px;
}
.boxs{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: center;
}
.titles p:first-child{
    font-size: 30px;
    font-weight: 900;
}
.titles p:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    position: relative;
    top: 200px;
}
.box-text p:nth-child(2){
    line-height: 1.4;
    font-size: 15px;
}
.box-text p:first-child{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.box img{
    margin-right: 33px;
    max-height: 60px;
    width: auto;
}
.box-left{
    margin-right: 93px;
}
/*service*/
.example{
    min-height: 623px;
    max-width: 100%;
    background-color: #ffc155;
}
.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.about img{
    height: auto;
    width: 100%;
    max-width: 851px;
}
.read p:first-child{
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    position: relative;
    bottom: 25px;
}
.read p:nth-child(2){
    max-width: 508px;
    min-height: 137px;
    color: #fff;
    line-height: 1.7;
    font-size: 13px;
}
.read button{
    background-color: #ffc155;
    color: #fff;
    border: 1px solid #e7ad48;
    font-size: 14px;
    max-width: 145px;
    min-height: 45px;
    position: relative;
    top: 55px;
}
.read button:hover{
    background-color:  #fff;
    color: #ffc155;
    border: 1px solid #e7ad48;
    transition: 0.3s ease;
}
.read{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    position: relative;
    bottom: 25px;
}
/*about*/
.price{
    min-height: 898px;
    max-width: 100%;
    background-color: #e7edf3;
    font-family: Arial, Helvetica, sans-serif;  
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 133px;
    background-color: #e7edf3;
}
.basic{
    min-height: 441px;
    min-width: 388px;
    background-color: #fff;
    border: 1px solid #ccd5df;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.point li:nth-child(odd):before{
    display: inline-block;
    content: "";
    border-top: 1px solid #e2e9f0;
    min-width: 329px;
}
.price p:first-child{
    font-size: 30px;
    font-weight: 800;
}
.price p:nth-child(2){
    font-size: 18px;
    color: #75888d;
}
.basic p:first-child{
    font-size: 25px;
    color: #818b95;
    font-weight: normal;
    margin-top: 55px;
}
.basic p:nth-child(2){
    font-size: 60px;
    color: #ffbb42;
    margin-top: 10px;
}
.basic p:nth-child(3){
    font-size: 20px;
    color: #818b95;
}
.point li:nth-child(even){
   color: #caced3;
   font-size: 13.5px;
   margin-top: 12px;
}
.point{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
}
.basic button{
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
    min-height: 42px;
    min-width: 131px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    margin-top: 27px;
}
.basic button:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #ffbb42;
    transition: 0.3s ease;
}
.plan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 53px;
}
.premium{
    background-color: #709dca;
    min-width: 395px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.premium button{
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
    min-height: 42px;
    min-width: 131px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    margin-top: 30px;
}
.premium button:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #ffbb42;
    transition: 0.3s ease;
}
.premium p:first-child{
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    margin-top: 83px;
}
.premium p:nth-child(2){
    font-size: 60px;
    color: #fff;
    margin-top: 10px;
}
.premium p:nth-child(3){
    font-size: 20px;
    color: #fff;
}
.gold{
    min-height: 441px;
    min-width: 388px;
    background-color: white;
    border: 1px solid #ccd5df;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gold p:first-child{
    font-size: 25px;
    color: #818b95;
    font-weight: normal;
    margin-top: 55px;
}
.gold p:nth-child(2){
    font-size: 60px;
    color:  #ffbb42;
    margin-top: 10px;
}
.gold p:nth-child(3){
    font-size: 20px;
    color: #818b95;
}
.gold button{
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
    min-height: 42px;
    min-width: 131px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    margin-top: 27px;
}
.gold button:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #ffbb42;
    transition: 0.3s ease;
}
/*price*/
.works{
    min-height: 858px;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
}
.steps p:first-child{
    font-size: 30px;
    font-weight: 800;
}
.steps p:nth-child(2){
    font-size: 18px;
    margin-top: 5px;
}
.steps img{
    margin-top: 65px;
    width: 100%;
    max-width: 960px;
    height: auto;
}
.step{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 50px;
}
.step_num{
    max-width: 210px;
    min-height: 100px;
    margin: 0 40px;
}
.step_num p:first-child{
    font-size: 20px;
    font-weight: bold;
}
.step_num p:nth-child(2){
    font-size: 13px;
    line-height: 1.6;
    margin-top: 19px;
}
.steps button{
    background-color: #ffbb42;
    color: #fff;
    border: 1px solid #ffbb42;
    border-radius: 3px;
    min-width: 165px;
    min-height: 46px;
    margin-top: 93px;
}
.steps button:hover{
    background-color: #fff;
    color: #ffbb42;
    border: 1px solid #fff;
    transition: 0.3s ease;
}
/*steps*/
.client{
    min-height: 908px;
    min-width: 100%;
    background-color: #ffc155;
}
.mean{
    min-height: 241px;
    max-width: 567px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 18px 10px 18px;
    padding: 44px 42px 0px 30px;
    position: relative;
    top: 48px;
}
.means{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.mean img{
    height: auto;
    width: 100%;
    max-width: 120px;
    border-radius: 50%;
    margin-right: 32px;
}
.people{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.people > p:first-child{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    margin-top: 136px;
}
.people > p:nth-child(2){
    color: #fff;
    font-size: 16px;
    margin-top: 6px;
}
.review p:first-child{
    color: #7b7b7b;
    font-size: 13px;
    line-height: 1.5;
}
.review p:nth-child(2){
    margin-top: 35px;
    color: #c2cbce;
    font-size: 14px;
}
.review span{
    color: #f6772c;
}
.review p:first-child::before{
    content: '“';
    font-size: 30px;
    color: #7b7b7b;
    position: absolute;
    left: 160px;
    top: 25px;
}
.review p:first-child::after{
    content: '„';
    font-size: 30px;
    color: #7b7b7b;
    position: absolute;
    right: 140px;
    bottom: 90px;
}
/*client*/
.news{
    min-height: 946px;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.map p:first-child{
    font-size: 30px;
    color: #394b50;
    font-weight: 800;
    margin-top: 150px;
}
.map p:nth-child(2){
    font-size: 16px;
    color: #394b50;
    margin-top: 3px;
}
.subscribe input{
    min-width: 308px;
    min-height: 47px;
    color: #cbcbcb;
    border: 1px solid #cbcbcb;
    margin-right: 10px;
    outline: none; 
}
.subscribe button{
    min-width: 218px;
    min-height: 47px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
}
.subscribe button:hover{
    color: #ffbb42;
    background-color: #fff;
    border: 1px solid #fff;
    transition: 0.3s ease;
}
.map{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe{
    margin-top: 40px;
    flex-direction: row;
}
.subscribe fieldset{
    flex-wrap: wrap;
}
.subscribe input:first-child{
    background-image: url('../image/name.png');   
    background-repeat: no-repeat; 
    background-position: 4px;        
    padding-left: 20px;
}
.subscribe input:nth-child(2){
    background-image: url('../image/email.png');   
    background-repeat: no-repeat; 
    background-position: 4px;        
    padding-left: 24px;
    min-width: 387px;
    height: auto;
}
.dotter{
    min-width: 1102px;
    height: auto;
    margin: 50px auto 0 auto;
}
.disk{
    background-image: url("../image/map.png");
    background-repeat: no-repeat;
    margin-top: 50px;
    min-height: 550px;
    width: 100%;
    background-position: center;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;
}
.address{
    background-image: url("../image/circle.png");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 284px;
    min-height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a8b1b4;
    font-size: 13px;
    padding-bottom: 20px;
}
.address li:first-child{
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
}
.address li a[href^='mailto:']:last-child{
    color: #ffbb42;
}
.address li{
    line-height: 1.8;
}
/*news*/
.dash{
    background-color: #e3e7ec;
    max-width: 100%;
    height: 2px;
}
.all{
    min-height: 150px;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
    margin-top: 65px;
}
.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.tel{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    font-size: 22.5px;
    margin-top: 25px;
}
.tel a, .link a{
    color: #394b50;
}
.link a{
    margin-right: 40px;
}
.tel a{
    margin-left: 15px;
}
.image a{
    margin-right: 18px;
}
/*last*/
.footer{
    min-height: 45px;
    min-width: 100%;
    background-color: #709dca;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*footer*/
