* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

.header{
    height: 93px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 130px;
    box-sizing: content-box;
}
a{
    text-decoration: none;
    color: #868686;
}
.button{
    color: white;
    background: #ffbb42;
    border: 1px solid #ffbb42;
    height: 34px;
    width: 81px;
    border-radius: 3px;
}
.button:hover{
    color: #ffbb42;
    background:white;
    border: 1px solid white;
    transition: 0.3s ease;
}
.navigation li{
    margin-right: 44px;
}
.logo{
    position: relative;
    left: 120px;
}
/*header*/

.content{
    height: 308px;
    position: relative;
    top: 105px;
    width: 100%;
}
.text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 190px;
}
#boots{
    font-size: 35px;
    font-weight: bold;
}
#lorem{
    font-size: 16px;
    position: relative;
    top: 7px;
}
.content input{
    height: 46px;
    width: 282px;
}
.request{
    background: #ffbb42;
    border: 1px solid #ffbb42;
    color: white;
    width: 211px;
    height: 46px;
}
.request:hover{
    color: #ffbb42;
    background:white;
    border: 1px solid white;
    transition: 0.3s ease;
}
#name::before{
    content: '/f007';
}
.form{
    background: #709dca;
    width: 100%;
    
}
.peredelat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 170px;
}
.peredelat input{
    margin: 5px;
}
/*main*/
.circle{
    width: 15px;
    height: 15px;
    border: #dedfe0 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}
.three{
    display: flex;
    flex-direction: row;
    margin-top: 22px;
}
.circle:hover{
    border: #1ca8dd 1px solid;
    transition: 0.3s ease;
}
.lapabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    margin-left: 180px;
}
.laptop{
    background: #709dca;
    width: 100%;
}
/*laptop*/