* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

.header{
    height: 93px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 130px;
    box-sizing: content-box;
}
a{
    text-decoration: none;
    color: #868686;
}
.button{
    color: white;
    background: #ffbb42;
    border: 1px solid #ffbb42;
    height: 34px;
    width: 81px;
    border-radius: 3px;
}
.button:hover{
    color: #ffbb42;
    background:white;
    border: 1px solid white;
    transition: 0.3s ease;
}
.navigation li{
    margin-right: 44px;
}
.logo{
    position: relative;
    left: 120px;
}
/*header*/

.content{
    height: 308px;
    position: relative;
    top: 105px;
    width: 100%;
}
.text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 190px;
}
#boots{
    font-size: 35px;
    font-weight: bold;
}
#lorem{
    font-size: 16px;
    position: relative;
    top: 7px;
}
.content input{
    height: 46px;
    width: 282px;
}
.request{
    background: #ffbb42;
    border: 1px solid #ffbb42;
    color: white;
    width: 211px;
    height: 46px;
}
.request:hover{
    color: #ffbb42;
    background:white;
    border: 1px solid white;
    transition: 0.3s ease;
}
#name::before{
    content: '/f007';
}
.form{
    background: #709dca;
    width: 100%;
    
}
.peredelat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 170px;
}
.peredelat input{
    margin: 5px;
}
/*main*/
.circle{
    width: 15px;
    height: 15px;
    border: #dedfe0 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}
.three{
    display: flex;
    flex-direction: row;
    margin-top: 22px;
}
.circle:hover{
    border: #1ca8dd 1px solid;
    transition: 0.3s ease;
}
.lapabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    margin-left: 180px;
}
.laptop{
    background: #709dca;
    width: 100%;
}
/*laptop*/
.service{
    height: 924px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    display: flex;
    flex-direction: row;
    width: 585px;
    height: 100px;
    margin-top: 12px;
    margin-bottom: 65px;
}
.boxs{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: center;
}
.titles p:first-child{
    font-size: 30px;
    font-weight: 900;
}
.titles p:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    position: relative;
    top: 200px;
}
.box-text p:nth-child(2){
    line-height: 1.4;
    font-size: 15px;
}
.box-text p:first-child{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.box img{
    margin-right: 33px;
    height: 65px;
    width: auto;
}
.box-left{
    margin-right: 93px;
}
/*service*/
.about{
    height: 623px;
    background-color: #ffc155;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}
.about img{
    height: 100%;
}
.read p:first-child{
    font-size: 30px;
    font-weight: 800;
    color: white;
    position: relative;
    bottom: 25px;
}
.read p:nth-child(2){
    width: 508px;
    height: 137px;
    color: white;
    line-height: 1.7;
    font-size: 13px;
}
.read button{
    background-color: #ffc155;
    color: white;
    border: 1px solid #e7ad48;
    font-size: 14px;
    width: 145px;
    height: 45px;
    position: relative;
    top: 55px;
}
.read button:hover{
    background-color:  white;
    color: #ffc155;
    border: 1px solid #e7ad48;
    transition: 0.3s ease;
}
.read{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    position: relative;
    bottom: 25px;
}
/*about*/
.price{
    height: 898px;
    width: 100%;
    background-color: #e7edf3;
    font-family: Arial, Helvetica, sans-serif;
    
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 133px;
}
.basic{
    height: 441px;
    width: 388px;
    background-color: white;
    border: 1px solid #ccd5df;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    height: 1px;
    width: 329px;
    background-color: #e2e9f0;
}
.price p:first-child{
    font-size: 30px;
    font-weight: 800;
}
.price p:nth-child(2){
    font-size: 18px;
    color: #75888d;
}
.basic p:first-child{
    font-size: 25px;
    color: #818b95;
    font-weight: normal;
    margin-top: 55px;
}
.basic p:nth-child(2){
    font-size: 60px;
    color: #ffbb42;
    margin-top: 10px;
}
.basic p:nth-child(3){
    font-size: 20px;
    color: #818b95;
}
.point li:nth-child(even){
   color: #caced3;
   font-size: 13.5px;
   margin-top: 13px;
   margin-bottom: 13px;
}
.point{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
}
.basic button{
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
    height: 42px;
    width: 131px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}
.basic button:hover{
    background-color: white;
    border: 1px solid white;
    color: #ffbb42;
    transition: 0.3s ease;
}
.plan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
}
.premium{
    background-color: #709dca;
    width: 395px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.premium button{
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
    height: 42px;
    width: 131px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    margin-top: 24px;
}
.premium button:hover{
    background-color: white;
    border: 1px solid white;
    color: #ffbb42;
    transition: 0.3s ease;
}
.premium p:first-child{
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    margin-top: 83px;
}
.premium p:nth-child(2){
    font-size: 60px;
    color: #fff;
    margin-top: 10px;
}
.premium p:nth-child(3){
    font-size: 20px;
    color: #fff;
}
.gold{
    height: 441px;
    width: 388px;
    background-color: white;
    border: 1px solid #ccd5df;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gold p:first-child{
    font-size: 25px;
    color: #818b95;
    font-weight: normal;
    margin-top: 55px;
}
.gold p:nth-child(2){
    font-size: 60px;
    color:  #ffbb42;
    margin-top: 10px;
}
.gold p:nth-child(3){
    font-size: 20px;
    color: #818b95;
}
.gold button{
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
    height: 42px;
    width: 131px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}
.gold button:hover{
    background-color: white;
    border: 1px solid white;
    color: #ffbb42;
    transition: 0.3s ease;
}
/*price*/
.works{
    height: 858px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
}
.steps p:first-child{
    font-size: 30px;
    font-weight: 800;
}
.steps p:nth-child(2){
    font-size: 18px;
    margin-top: 5px;
}
.steps img{
margin-top: 65px;
}
.step{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 50px;
}
.step_num{
    width: 210px;
    height: 100px;
    margin: 0 40px;
}
.step_num p:first-child{
    font-size: 20px;
    font-weight: bold;
}
.step_num p:nth-child(2){
    font-size: 13px;
    line-height: 1.6;
    margin-top: 19px;
}
.steps button{
    background-color: #ffbb42;
    color: #fff;
    border: 1px solid #ffbb42;
    border-radius: 3px;
    width: 165px;
    height: 46px;
    margin-top: 93px;
}
.steps button:hover{
    background-color: #fff;
    color: #ffbb42;
    border: 1px solid #fff;
    transition: 0.3s ease;
}
/*steps*/